<html>
    <head>
        <title>Django Karim's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Karim's Blog</a></h1>
        </div>

        <div>
            <p>published: 07.09.2018, 23 : 10</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello! My name is Karim. I learn to coding and me like it.</p>
        </div>
        <div>
            <p>PUBLIESHED: 07.09.2018, 23 : 10</p>
            <h2><a href="">My second post</a></h2>
            <p>How are you? Its you fine?</p>
        </div>
    </body>
</html>